<div class="container">
  <div class="col-sm-12">
    <br />
  </div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ajouter un nouveau véhicule</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="radarForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="registrationNumber">Immatriculation :</label>
            <input type="text" class="form-control" id="registrationNumber" formControlName="registrationNumber">
          </div>
          <div class="form-group">
            <label for="type">Type :</label>
            <input type="text" class="form-control" id="type" formControlName="type" value="CAR">
          </div>
          <div class="form-group">
            <label for="brand">Marque :</label>
            <input type="text" class="form-control" id="brand" formControlName="brand">
          </div>
          <div class="form-group">
            <label for="model">Modèle :</label>
            <input type="text" class="form-control" id="model" formControlName="model">
          </div>
          <div class="form-group">
            <label for="fiscalPower">Puissance Fiscale :</label>
            <input type="number" class="form-control" id="fiscalPower" formControlName="fiscalPower">
          </div>
          <div class="form-group">
            <label for="ownerName">Nom du propriétaire :</label>
            <input type="text" class="form-control" id="ownerName" formControlName="ownerName">
          </div>

          <div class="form-group">
            <label for="ownerNationalIdCard">Son CIN :</label>
            <input type="text" class="form-control" id="ownerNationalIdCard" formControlName="ownerNationalIdCard">
          </div>

          <div class="form-group">
            <label for="ownerEmail">Son Email :</label>
            <input type="text" class="form-control" id="ownerEmail" formControlName="ownerEmail">
          </div>

          <div class="form-group">
            <label for="ownerPhoneNumber">Son GSM :</label>
            <input type="text" class="form-control" id="ownerPhoneNumber" formControlName="ownerPhoneNumber">
          </div>

          <div class="form-group">
            <label for="ownerAddress">Son adresse :</label>
            <input type="text" class="form-control" id="ownerAddress" formControlName="ownerAddress">
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
</div>
