<div class="container">
  <div class="col-sm-12">
    <br />
  </div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Ajouter un nouveau radar</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="radarForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nom :</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="maxSpeed">Vitesse maximale :</label>
            <input type="number" class="form-control" id="maxSpeed" formControlName="maxSpeed" placeholder="Enter max speed">
          </div>
          <div class="form-group">
            <label for="latitude">Latitude :</label>
            <input type="number" class="form-control" id="latitude" formControlName="latitude" placeholder="Enter latitude">
          </div>
          <div class="form-group">
            <label for="longitude">Longitude :</label>
            <input type="number" class="form-control" id="longitude" formControlName="longitude" placeholder="Enter longitude">
          </div>
          <div class="form-group">
            <label for="longitude">Altitude :</label>
            <input type="number" class="form-control" id="altitude" formControlName="altitude" placeholder="Enter altitude">
          </div>
          <div class="form-group">
            <label for="longitude">Road Designation :</label>
            <input type="text" class="form-control" id="roadDesignation" formControlName="roadDesignation" placeholder="Enter road designation">
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
</div>
